@use 'fonts';

$primary-color: #060C3F;
$secondary-color: #000441;
$accent-color: #EBEFE2;
$body-text-color: #D6EFFF;
$hamburger-bg-color:rgba(51, 60, 134, 0.95);

// $primary-color: #232321;      
// $secondary-color: #1a1a19;     
// $accent-color: #c27fa7;         
// $body-text-color: #EBEFE2;      
// $hamburger-bg-color:rgba(33, 33, 35, 0.95);
$form-cta-color: #c27fa7;
$base-font-size: 18px;
$base-font-weight: 400;
