@use 'fonts';

$primary-color: #060C3F;
$secondary-color:#1E293B;
$accent-color: #EBEFE2;
$body-text-color: #D6EFFF;
$white: #faf6ef;
$btn-color: #F97316;
$inactive-btn:#cbcbcb;
$base-font-size: 18px;
$base-font-weight: 400;
