@use '../abstracts';body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: abstracts.$accent-color;
    color: abstracts.$secondary-color;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}